[Unit]
Description=Stand-Off Application
ConditionPathExists=|/home/root/Centrale_Controllo_PC_v1_1
After=network.target

[Service]
Type=oneshot
ExecStart=/home/root/Centrale_Controllo_PC_v1_1/centrale_controllo_stdof.o
RemainAfterExit=yes
Restart=on-failure
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
